:root {
    --bg: #14161C;
    --yellow: #F9FF00;
    --white: #fff;
    --border-color: #585858;

    --notification-green-text: #2B5028;
    --notification-green-bg: #538D4E;

    --notification-red-text: #5F0F1D;
    --notification-red-bg: #BA4747;

    --letter-green-bg: #538D4E;
    --letter-yellow-bg: #B59F3B;
    --letter-gray-bg: #585858;

    --keyboard-gray-light: #818384;
    --keyboard-gray-dark: #585858;
}

* {
    border: 0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header {
    background-color: var(--bg);
    border-bottom: 1px solid var(--border-color);
    height: 80px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    margin: 0 auto;
    max-width: 992px;
}

.logo img {
    max-height: 51px;
}

main {
    margin: 85px auto 0;
    max-width: 992px;
}

.hint {
    margin: 100px 20px 0 20px;
}

/* Board */

.board-game {
    margin: 15px auto 0;
    width: 330px;
}

.board-game .k-row {
    display: grid;
    gap: 5px;
    grid-template-columns: 62px 62px 62px 62px 62px;
    height: 62px;
    margin-bottom: 5px;
}

.board-game .letter {
    border: 1px solid var(--border-color);
    color: var(--white);
}

.board-game .letter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    text-transform: capitalize;
    font-weight: bold;
}

/* Keyboard */

.keyboard {
    margin: 50px auto 0;
}

.keyboard .k-row {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 5px;
}

.keyboard .letter,
.keyboard .action {
    align-items: center;
    background-color: var(--keyboard-gray-light);
    cursor: pointer;
    display: flex;
    font-size: 22px;
    color: var(--white);
    height: 58px;
    justify-content: center;
    transition: filter 0.2s;
    width: 43px;
    border-radius: 4px;
}

.keyboard .letter:hover,
.keyboard .action:hover {
    filter: brightness(0.8);
}

.keyboard .enter {
    font-size: 17px;
    width: 80px;
}

.keyboard .erase {
    width: 50px;
}

@media screen and (max-width: 414px) {
    .header {
        height: 60px;
    }

    .logo img {
        max-height: 40px;
    }

    .hint {
        margin-top: 50px;
    }

    .board-game {
        width: 280px;
    }

    .board-game .k-row {
        grid-template-columns: 52px 52px 52px 52px 52px;
        height: 52px;
    }

    .keyboard {
        padding: 0px 10px;
    }
}

.valid-guess {
    animation-name: valid-guess;
    animation-duration: 400ms;
    animation-timing-function: ease-in
}

.invalid-guess {
    animation-name: invalid-guess;
    animation-duration: 600ms
}

@keyframes valid-guess {
    0%,
    100% {
        transform: rotateX(0)
    }

    50% {
        transform: rotateX(-90deg)
    }
}

@keyframes invalid-guess {

    10%,
    90% {
        transform: translateX(-1px)
    }

    20%,
    80% {
        transform: translateX(2px)
    }

    30%,
    50%,
    70% {
        transform: translateX(-4px)
    }

    40%,
    60% {
        transform: translateX(4px)
    }
}